// =============================================================================
// Navigation
// =============================================================================

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #ccc;
    z-index: 10;
    .a-disabled {
    	pointer-events: none;
    	cursor: default;
	}
}