// =============================================================================
// Followers vis (cartogram)
// =============================================================================

.vis-followers {

	background-color: #c6d300;

	h1, h2, h3, h4, h5, h6 {
		font-size: 3.375vh;
		line-height: 1.2em;
		margin: 0;
		color: #fff;
		position: relative;
		z-index: 1;
		padding-left: 0.6em;
	}

	h3, h4 {
		display: inline-block;
		font-weight: 300;
	}

	h4 {
		padding-left: 0;
		position: relative;
	}

	h4 sup {
		position: absolute;
		top: -0.25em;
		right: -0.75em;
	}

	p {
		font-size: 3.375vh;
		padding-left: 0.6em;
		margin-top: .5em;
		line-height: 1.2em;
	}

	.foot {
		margin-bottom: 0;
	}

	small {
		font-size: 1.25vh;
		color: #fff;
		line-height: 1.2em;
		display: inline-block;
	}

	#text {
		position: absolute;
		bottom: 2.5vh;
		z-index: 10;
		pointer-events: none;
	}

	.svg-container {
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		z-index: 0;
	}

	form {
		pointer-events: all;
	}

	path.country {
		stroke: #c6d300;
		stroke-width: 0.5;
		transition: stroke 0.3s ease-out;
		cursor: pointer;
	}

	path.country.active {
		stroke-width: 1;
		stroke: #fff;
	}

	form {
		font-size: 3.375vh;
		padding-left: 0.6em;
	}

	form button {
		font-weight: 500;
		font-size: 1.5vh;
	}


	button {
		border: none;
		background: rgba(255,255,255,0.333);
		border-radius: 0.25em;
		font-family: "Roboto Mono";
		font-weight: 300;
		color: #c6d300;
		cursor: pointer;
		transition: background 0.3s ease-out;
		margin-right: 0.5em;
	}

	button:hover,
	button.active {
		background: rgba(255,255,255,1);
	}

	button:focus {
		outline: none;
	}
}