// =============================================================================
// Vis containers
// =============================================================================

.vis {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}

.vis-current {
    transform: translateY(0);
}