<div class="info" id="js-info">
	<h1>User 18081971</h1>
	<h2>{ track.title }</h2>
	<h3>tempo: { track.tempo }bpm</h3>
	<h4>time signature: { track.timeSig }</h4>
	<h5>key: <span>{ track.key }</span> <span>{ track.mode }</span></h5>
	<progress value="0" max="100"></progress>
	<button></button>
</div>

<ul class="bars">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<ul class="bars bars-clone">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>