<div class="svg-container">

</div>
<div id="text">
	<div class="headers">
		<h1>user19081971</h1>
		<h2>follower locations</h2>
		<h3>&nbsp;</h3>
		<h4>&nbsp;</h4>
	</div>
	<form>
		<button data-key="followers">follower totals</button>
		<button data-key="perCapita">followers per capita</button>
		<button data-key="population">population</button>
		<button data-key="none">reset map</button>
	</form>
	<p class="foot"><small><sup>*</sup>data projected from a sample of 8000 Soundcloud followers, of a total of 79,800</small></p>
</div>