<div class="frame">
	<div class="svg-container">

	</div>
	<div class="html-content">
		<h1 class="title">user18081971</h1>
		<h2 class="title">Soundcloud visualisation</h2>
		<h3 class="title">&nbsp;</h3>
		<h4 class="title">&nbsp;</h4>
		<h5 class="title subtitle">//soundcloud.com/user18081971</h5>
		<h6 class="title subtitle">//user18081971.watmm.com</h6>
	</div>
	<div class="intro">
		<dl class="key">
			<dt>Downloads:</dt>
			<dd>
				<ul class="downloads">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</dd>
			<dt>Favourites:</dt>
			<dd>
				<ul class="favourites">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</dd>
		</dl>
		<p class="description">In early 2015, <a href="https://en.wikipedia.org/wiki/Aphex_Twin" target="_blank">Aphex Twin</a> began uploading rare and unreleased music to an <a href="https://soundcloud.com/user18081971" target="_blank">anonymous Soundcloud account</a>. By late October he had uploaded 261 tracks, and a <a href="http://user18081971.watmm.com/" target="_blank">fan voting site</a> had appeared to help Aphex Twin himself decide which tracks should get remastered and released traditionally. This visualisation plots fan votes against Soundcloud plays to create a new visual means to explore the archive. <br><a href="http://www.twitter.com/tomlongmate" target="_blank"><i>@tomlongmate</i></a></p>
		<p><small><sup>*</sup>Data: <a href="http://user18081971.watmm.com" target="_blank">user18081971.watmm.com</a> voting site. Built with <a href="http://d3js.org/" target="_blank">D3</a></small></p>
	</div>
</div>